<!--The content below is only a placeholder and can be replaced.-->
<section class="mat-typography">

    <h1 class="mat-display-3" style="margin: 15px 0 15px 15px;">{{ title }}</h1>

    <mat-divider></mat-divider>
    <nav mat-tab-nav-bar>
        <a mat-tab-link
          *ngFor="let routeLink of routeLinks; let i = index;"
          [routerLink]="routeLink.link"
          routerLinkActive="mat-tab-link-active"
          #rla="routerLinkActive"
          [active]="activeLinkIndex === i"
          (click)="activeLinkIndex = i; updateRooms()"
          [routerLinkActiveOptions]="{exact: true}">
            {{routeLink.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>

