.options-headers-align .mat-expansion-panel-header-title,
.example-headers-align, .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.options-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.options-card {
    width:30%; 
    float:left;
    margin-right:20px;
}

.options-table-content {
    background-color: gainsboro;
}

.table-card {
    width: 60%; 
    float: left;
}

.room-table-content {
    background-color: gainsboro;
}

.sync-button {
    max-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 0px;
    padding-left: 0px;
    float: right;
}

.error-msg {
    color: red;
}